<div *ngIf="!editAdminStatus" class="update-admin mt-5 text-center">
    <img width="200px" class="img-fluid" [src]="profileImage" alt="Profile">
    <button (click)="editAdminBtnClicked()" class="btn btn-link fs-5 mt-3"><i class="fa-solid fa-pen me-2"></i>Edit Admin details..</button>
</div>
<div *ngIf="editAdminStatus" class="update-details mt-3 text-center">
    <h5 class="fs-5">Update Admin Details</h5>
    <label >
        <input (change)="getFile($event)" type="file" style="display: none;">
        <img width="200px" class="img-fluid" [src]="profileImage" alt="Profile">
    </label>
    <input [(ngModel)]="admindetails.name" type="text" class="mb-2 form-control" placeholder="Admin name">
    <input [(ngModel)]="admindetails.password" type="text" class="mb-2 form-control" placeholder="Admin password">
    <div class="d-flex justify-content-evenly-mt-4">
        <button (click)="cancel()" class="btn btn-secondary">Cancel</button>
        <button (click)="updateAdmin()" class="btn btn-primary ms-3">Update</button>

    </div>


</div>
